@import "main";

//header
.header {

    position: relative;

    margin-top: 70px;

    > .bg {

        height: 480px;
        width: 80%;

        background: $sup-color;
    }

    > .img {

        position: absolute;

        height: 300px;
        width: 90%;

        right: 0px;
        top: 0px;

        background-image: url("../img/itemPage_img1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        box-sizing: border-box;
    }

    > .title {

        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;

        height: 150px;
        width: 300px;

        top: 50%;
        left: 0px;

        background: $sup-color-1;

        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

        > .en-text,
        > .text {

            margin-left: 25%;
            font-size: 2.5rem;
        }

        > .en-text {

            color: $bg-min-color-2;
        }

        > .text {

            color: $bg-min-color;
        }
    }
}

//header end
//main
@mixin box-style {

    position: relative;

    height: 400px;
}

@mixin content-style {

    position: relative;

    height: 100%;
    width: 70%;

    background: $sup-color;
}

@mixin img-style {

    position: absolute;

    top: 50%;
    transform: translate(0, -50%) !important;

    max-height: 80%;
    width: 30%;

    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;

    overflow: hidden;
    z-index: 2;
}

@mixin title-style {

    line-height: $font-size-3 + 1.5rem;

    font-family: $font-family-bt;
    font-size: $font-size-2;

    color: $min-color-8;
}

@mixin text-style {

    line-height: $font-size-3 + 0.5rem;

    font-size: $font-size-1;
    letter-spacing: 0.25rem;

    color: $min-color-6;
}

.box-1 {

    @include box-style;

    > .content {

        @include content-style;

        margin: 100px 0px 100px auto;

        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        overflow: hidden;

        .title {

            @include title-style;

            padding: 50px 10% 0 25%;
        }

        .text {

            @include text-style;

            padding: 25px 10% 0 25%;
        }
    }

    > .img {

        @include img-style;

        left: 15%;

        img {

            width: 100%;
        }
    }
}

.box-2 {

    @include box-style;

    > .content {

        @include content-style;

        margin: 100px auto 100px 0;

        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;

        .title {

            @include title-style;

            padding: 50px 25% 0 10%;
        }

        .text {

            @include text-style;

            padding: 25px 25% 0 10%;
        }
    }

    > .img {

        @include img-style;

        right: 15%;

        img {

            width: 100%;
        }
    }
}

.box-3 {

    @include box-style;

    padding: 0px 10%;

    letter-spacing: normal;

    > .content {

        @include content-style;

        display: inline-block;
        vertical-align: top;

        margin-top: 5%;
        padding-left: 10%;

        height: auto;
        width: 70%;

        background: none;
        border-radius: 0px;

        box-sizing: border-box;

        .title {

            @include title-style;
        }

        .text {

            @include text-style;

            padding: 25px 0 0 0;
        }
    }

    > .img {

        @include img-style;

        display: inline-block;
        position: inherit;

        img {

            width: 100%;
        }
    }
}

//main end
@media screen and (max-width: 768px) {

    //header
    .header {

        > .bg {

            height: 400px;
            width: 100%;
        }

        > .img {

            right: 50%;
            transform: translateX(50%);

            width: 100%;
        }

        > .title {

            left: 0px;
            transform: translateY(50%);

            height: 100px;
            width: 200px;

            > .en-text,
            > .text {

                margin-left: 10%;
            }
        }
    }

    //header end
    //main
    @mixin box-style-768 {

        height: auto;
        margin: 0;

        overflow: hidden;
    }

    @mixin content-style-768 {

        margin: 0;
        padding-top: 25%;

        width: 100%;

        border-radius: 0px;
    }

    @mixin img-style-768 {

        position: relative;

        top: 0;
        left: 50%;
        transform: translate(-50%, 50%) !important;

        width: 80%;
    }

    @mixin title-style-768 {

        text-align: center;

        padding: 25px 0 10px 0;

        letter-spacing: 0.5rem;
    }

    @mixin text-style-768 {

        padding: 0 10% 25px 10%;
    }

    .box-1 {

        @include box-style-768;

        .content {

            @include content-style-768;

            .title {

                @include title-style-768;
            }

            .text {

                @include text-style-768;
            }
        }

        .img {

            @include img-style-768;
        }
    }

    .box-2 {

        @include box-style-768;

        .content {

            @include content-style-768;

            .title {

                @include title-style-768;
            }

            .text {

                @include text-style-768;
            }
        }

        .img {

            @include img-style-768;

            max-height: 300px;
        }
    }

    .box-3 {

        @include box-style-768;

        padding: 0;

        .content {

            @include content-style-768;

            padding-left: 0;

            .title {

                @include title-style-768;
            }

            .text {

                @include text-style-768;
            }
        }

        .img {

            @include img-style-768;
            
            transform: translate(-50%, 40%) !important;
            
            max-height: 300px;
        }
    }

    //main end
}