@import "main";

.hot-item-box {

    margin: 140px 0 70px 0;

    height: auto;

    @mixin item-style {

        margin-left: 10%;

        width: 90%;

        background: $min-color-2;
    }

    .title {

        @include item-style;

        padding-left: 5%;

        line-height: 5rem;
        font-size: 2.5rem;

        color: $min-color;

        box-sizing: border-box;

        &::before {

            content: "";
            display: block;

            height: 5px;
            width: 50px;

            background: $min-color;
        }
    }

    .hot-item {

        @include item-style;

        padding-left: 5%;

        height: calc(100% - 5rem);

        box-sizing: border-box;

        .name {

            margin: 2rem 0;

            text-align: center;

            font-family: $font-family-bt;
            font-size: $font-size-2;

            letter-spacing: 0.75rem;

            color: $min-color;
        }

        .text {

            margin-top: 1.5rem;
            padding: 0px 10%;

            line-height: 3rem;

            font-family: $font-family-t;
            font-size: $font-size-1;
            letter-spacing: 0.25rem;

            color: $min-color;

            box-sizing: border-box;
        }

        @mixin slick-btn-style {

            height: 40px;
            width: 40px;

            &::before {

                content: none;
            }
        }

        .slick-prev {

            @include slick-btn-style;

            top: calc(50% - 2.5rem);
            left: -5%;

            background-image: url("../img/icon/icon_prev.png");
            background-repeat: no-repeat;
            background-position: center;

            &:hover {

                background-image: url("../img/icon/icon_prev.png");
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        .slick-next {

            @include slick-btn-style;

            top: calc(50% - 2.5rem);
            right: 0px;

            background-image: url("../img/icon/icon_next.png");
            background-repeat: no-repeat;
            background-position: center;

            &:hover {

                background-image: url("../img/icon/icon_next.png");
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    .slick-slide {

        margin: 0 10px 0 10px;

        img {

            max-height: 255px;

            margin: 0 auto;
        }
    }
}

.type {

    position: relative;
    display: block;

    padding: 0px;

    width: 100%;

    text-align: center;

    li {

        position: relative;
        display: inline-block;

        margin: 0px 5%;

        width: 35%;

        &.-on {

            &::after {

                content: "";
                display: block;

                position: absolute;

                left: 0;
                bottom: 0;
                width: 100%;
                height: 6px;

                background-color: $sup-color-1;
                transform: translateY(0%);
                z-index: 5;
            }

            button {

                cursor: inherit;
            }
        }

        button {

            position: relative;
            height: 50px;
            width: 100%;

            font-family: $font-family-t;
            font-size: $font-size-2;
            letter-spacing: 0.5rem;

            color: $bg-min-color-8;

            border: 0;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;

            background: $sup-color-1;

            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
            box-sizing: border-box;

            overflow: hidden;
            cursor: pointer;
        }
    }
}

.box {

    position: relative;

    .bar {

        position: relative;
        text-align: center;

        height: 100px;

        letter-spacing: normal;

        background: $sup-color-1;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);

        z-index: 1;

        .type-text {

            position: relative;
            display: inline-block;
            vertical-align: top;

            margin: 0px 5%;

            height: 100%;
            width: 35%;

            .text {

                position: relative;
                display: none;

                top: 50%;
                transform: translateY(-50%);

                width: 100%;

                font-size: $font-size-1;
                letter-spacing: 0.25rem;

                color: $bg-min-color-8;

                &.-on {

                    display: inline-block;

                    line-height: 3rem;
                }
            }
        }
    }

    > .content {

        text-align: center;

        margin: 0px 10% 50px 10%;

        height: 400px;

        .box-1 {

            position: relative;

            height: 100%;

            letter-spacing: normal;

            .box-text {

                position: relative;
                display: inline-block;
                vertical-align: top;

                height: 100%;
                width: 43%;

                background: $sup-color-1;
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);

                z-index: 0;

                &::before {

                    content: "";
                    position: absolute;
                    display: block;

                    right: 0px;
                    bottom: 0px;

                    transform: translateX(50%);

                    height: 20%;
                    width: 10px;

                    background: $sup-color-1;

                    z-index: 10;
                }

                .text {

                    padding: 25px 5% 25px 10%;

                    text-align: left;

                    height: 80%;
                    line-height: 3rem;

                    font-size: $font-size-1;

                    color: $bg-min-color-8;

                    box-sizing: border-box;
                }

                .more-btn {

                    display: block;

                    margin: 0 auto;

                    height: 50px;
                    line-height: 50px;
                    width: 150px;

                    font-size: $font-size-1;

                    color: $bg-min-color-6;

                    background: $min-color-4;
                }
            }

            .box-img {

                display: inline-block;
                vertical-align: bottom;

                height: 20%;
                width: 57%;

                background: $sup-color-1;
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);

                .img-bg {

                    position: absolute;

                    bottom: 0px;
                    right: 0px;

                    height: 100%;
                    width: 43%;

                    background-image: url("../img/item_2.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;

                    opacity: .2;

                    z-index: -1;
                }

                img {

                    position: absolute;

                    bottom: 0px;
                    right: 22%;
                    transform: translateX(50%);

                    height: 90%;

                    z-index: 9;
                }
            }
        }
    }
}

@media screen and (max-width : 1200px) {

    .hot-item-box {

        height: auto;
    }
}

@media screen and (max-width : 768px) {

    @mixin item-style-768 {

        margin: 0px;

        width: 100%;

        background: rgba(150, 89, 28, 0.2);
    }

    .hot-item-box {

        .title {

            @include item-style-768;
        }

        .hot-item {

            @include item-style-768;

            .text {

                display: inline-block;
                vertical-align: top;

                text-align: left;

                margin: 0px;
                padding: 10px;

                width: 50%;
            }
        }

        .slick-initialized {

            .slick-slide {

                padding-bottom: 50px;

                text-align: center;

                letter-spacing: normal;

                img {

                    display: inline-block;

                    max-height: 300px;
                }
            }
        }
    }

    .type {

        li {

            margin: 0px;

            width: 47.5%;
        }
    }

    .box {

        .bar {

            .type-text {

                width: 40%;
            }
        }

        > .content {

            margin: 0 auto 50px auto;

            height: auto;

            .box-1 {

                height: auto;

                .box-text {

                    height: auto;
                    width: 95%;

                    padding-bottom: 25px;

                    &::before {

                        content: none;
                    }

                    .text {

                        margin: 25px auto;
                        padding: 0px;

                        height: auto;
                        width: 80%;
                    }
                }

                .box-img {

                    display: none;
                }
            }
        }
    }
}
