@charset "UTF-8";
@font-face {
  font-family: "華康中特圓體";
  src: url("../font/font_1.TTC");
}
@font-face {
  font-family: "華康中圓體";
  src: url("../font/font_2.TTC");
}
h1,
h2,
h3,
h4,
h5,
p,
span,
pre,
body {
  margin: 0px;
  padding: 0px;
  font-family: "華康中圓體";
  font-size: 0px;
  font-weight: normal;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0px;
}

header,
main {
  left: 0px;
  right: 0px;
}

html {
  font-size: 12px;
  letter-spacing: 6px;
}

.news .ul-box .li-box:nth-child(1) .dropdown,
.newShop .ul-box .li-box:nth-child(2) .dropdown,
.shop .ul-box .li-box:nth-child(2) .dropdown,
.class .ul-box .li-box:nth-child(3) .dropdown,
.classInf .ul-box .li-box:nth-child(3) .dropdown,
.about .ul-box .li-box:nth-child(4) .dropdown {
  color: #96591c;
  opacity: 1;
}

.news .li-box:nth-child(1)::after,
.newShop .li-box:nth-child(2)::after,
.shop .li-box:nth-child(2)::after,
.class .li-box:nth-child(3)::after,
.classInf .li-box:nth-child(3)::after,
.about .li-box:nth-child(4)::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 2px;
  width: 100%;
  background: #96591c;
}

.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  min-width: 1182px;
  background: #faf7f7;
  z-index: 10;
}
.navbar .logo-box {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  margin-left: 10%;
  height: 50px;
}
.navbar .logo-box img {
  height: 100%;
}
.navbar .ul-box {
  position: relative;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  left: 2.5%;
  letter-spacing: normal;
}
.navbar .ul-box .li-box {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.navbar .ul-box .li-box:hover .dropdown::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 2px;
  width: 0%;
  background: #96591c;
  animation-name: titleInline;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.navbar .ul-box .li-box:hover .dropdown-content {
  display: block;
  width: 100%;
}
.navbar .ul-box .li-box:hover .dropdown-content .content {
  display: block;
  text-align: center;
  line-height: 4.5rem;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  color: gray;
  transition: 0.5s;
}
.navbar .ul-box .li-box:hover .dropdown-content .content:hover {
  color: #f0e7e1;
  background: rgba(150, 89, 28, 0.6);
}
.navbar .ul-box .li-box .logo-box {
  line-height: 0px;
  width: auto;
  font-size: 0px;
  opacity: 1;
}
.navbar .ul-box .li-box .logo-box .logo {
  height: 50px;
  width: 250px;
  padding: 10px 20px;
}
.navbar .ul-box .li-box .dropdown {
  display: inline-block;
  line-height: 70px;
  width: 125px;
  font-family: "華康中特圓體";
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.25rem;
  color: gray;
  opacity: 0.7;
}
.navbar .ul-box .li-box .dropdown:hover {
  color: #96591c;
}
.navbar .ul-box .li-box .dropdown-content {
  position: absolute;
  display: none;
  top: 70px;
  left: 0px;
  height: auto;
  background: #faf7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

aside {
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: auto;
  z-index: 4;
}
aside .aside-top-btn {
  display: block;
  position: absolute;
  right: 0px;
  bottom: 20px;
  height: 50px;
  width: 50px;
  border: 1px solid #96591c;
  border-radius: 50%;
  background: transparent;
  background-image: url(../img/icon/icon-goTop.png);
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s;
}
aside .aside-top-btn:hover {
  transform: translateY(-10px);
}

body {
  min-width: 1182px;
  background: #faf7f7;
}

.footer {
  position: relative;
  height: 150px;
  width: 100%;
  text-align: left;
  background: #f0e7e1;
  z-index: 2;
}
.footer .group-box {
  position: relative;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  z-index: 2;
}
.footer .group {
  position: relative;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 100px;
  border: 1px solid rgba(150, 89, 28, 0.6);
  border-radius: 3px;
  box-sizing: border-box;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  color: rgba(150, 89, 28, 0.6);
  transition: 0.5s;
}
.footer .group:hover {
  color: #96591c;
  border: 1px solid #96591c;
}
.footer .group:hover .icon {
  opacity: 1;
}
.footer p {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  line-height: 40px;
  font-family: "華康中特圓體";
  font-size: 1rem;
  letter-spacing: 0.25rem;
  color: rgba(150, 89, 28, 0.6);
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 10px;
  }

  body {
    width: 100%;
    min-width: 750px;
  }

  .about button {
    height: 40px;
    width: 40px;
  }

  .navbar {
    width: 100%;
    min-width: 0px;
  }
  .navbar .ul-box {
    position: relative;
    display: inline-block;
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  .navbar .ul-box .li-box .dropdown {
    width: 100px;
  }
  .navbar .logo-box {
    margin-left: 0px;
  }
}
@media screen and (max-width: 768px) {
  .news .ul-box .li-box:nth-child(1) .dropdown,
.newShop .ul-box .li-box:nth-child(2) .dropdown,
.shop .ul-box .li-box:nth-child(2) .dropdown,
.class .ul-box .li-box:nth-child(3) .dropdown,
.classInf .ul-box .li-box:nth-child(3) .dropdown,
.about .ul-box .li-box:nth-child(4) .dropdown {
    color: #96591c;
    opacity: 1;
  }

  .news .li-box:nth-child(1)::after,
.newShop .li-box:nth-child(2)::after,
.shop .li-box:nth-child(2)::after,
.class .li-box:nth-child(3)::after,
.classInf .li-box:nth-child(3)::after,
.about .li-box:nth-child(4)::after {
    content: none;
  }

  html {
    font-size: 9px;
  }

  body {
    width: 100%;
    min-width: 0px;
  }

  aside {
    z-index: 3;
  }

  .navbar {
    text-align: inherit;
    width: 100%;
  }
  .navbar .ul-box {
    position: fixed;
    left: auto;
    right: 0px;
    height: 100vh;
    width: 0%;
    background: #faf7f7;
    transition: 0.5s;
  }
  .navbar .ul-box .li-box {
    display: none;
    text-align: center;
    left: 0;
    transform: translateX(0);
  }
  .navbar .ul-box .li-box:hover .dropdown::after {
    content: none;
  }
  .navbar .ul-box .li-box:hover .dropdown-content .content {
    display: block;
    margin: 0 auto;
    height: 45px;
    line-height: 45px;
    width: 100px;
    font-size: 2rem;
    letter-spacing: 0.25rem;
    color: gray;
    transition: 0s;
  }
  .navbar .ul-box .li-box:hover .dropdown-content .content:hover {
    color: gray;
    background: transparent;
  }
  .navbar .ul-box .li-box .dropdown {
    letter-spacing: 0.5rem;
  }
  .navbar .ul-box .li-box .dropdown .logo-box {
    display: inline-block;
  }
  .navbar .ul-box .li-box .dropdown-content {
    display: block;
    position: relative;
    margin: 0 auto;
    top: 0px;
    left: auto;
    width: 100px;
    box-shadow: 0px 0px 0px;
  }
  .navbar .ul-box .li-box .dropdown-content .content {
    display: block;
    position: relative;
    transform: translate(5px, 0);
    height: 45px;
    line-height: 45px;
    font-size: 2rem;
    letter-spacing: 0.25rem;
    color: gray;
  }
  .navbar .ul-box .li-box .dropdown-content .content::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translate(0, -50%);
    height: 1px;
    width: 10px;
    background: gray;
  }
  .navbar .ul-box.-on {
    width: 100%;
  }
  .navbar .ul-box.-on .li-box {
    display: block;
  }
  .navbar .btn-box {
    position: relative;
    display: inline-block;
    float: right;
    cursor: pointer;
    z-index: 20;
  }
  .navbar .btn-box .btn-boder {
    display: inline-block;
    padding: 10px;
    height: 50px;
    width: 50px;
  }
  .navbar .btn-box .btn-boder .menu-btn {
    position: relative;
    margin-top: -4px;
    top: 50%;
    height: 4px;
    background: rgba(150, 89, 28, 0.4);
    border-radius: 4px;
    transition: 0.5s;
  }
  .navbar .btn-box .btn-boder .menu-btn:before, .navbar .btn-box .btn-boder .menu-btn:after {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    background: rgba(150, 89, 28, 0.4);
    border-radius: 4px;
    transition: 0.5s;
  }
  .navbar .btn-box .btn-boder .menu-btn:before {
    top: -10px;
  }
  .navbar .btn-box .btn-boder .menu-btn:after {
    top: 10px;
  }
  .navbar .btn-box .btn-boder .menu-btn.-on {
    transform: rotate(360deg);
    height: 0px;
  }
  .navbar .btn-box .btn-boder .menu-btn.-on:before, .navbar .btn-box .btn-boder .menu-btn.-on:after {
    top: 0px;
  }
  .navbar .btn-box .btn-boder .menu-btn.-on:before {
    transform: rotate(45deg);
  }
  .navbar .btn-box .btn-boder .menu-btn.-on:after {
    transform: rotate(-45deg);
  }

  footer {
    position: relative;
    z-index: 1;
  }
  footer .footer {
    height: 100px;
  }
  footer .footer .group-box {
    display: inline-flex;
    padding: 20px 0;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
  }
  footer .footer .group-box .group {
    margin: 0 1px;
    height: 35px;
    line-height: 35px;
  }
  footer .footer p {
    display: block;
    position: static;
    text-align: center;
  }
}
@keyframes titleInline {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
header {
  background: rgba(133, 164, 167, 0.3);
}
header .img {
  position: relative;
  margin: 70px auto 0 auto;
  height: 500px;
  width: 90%;
  transform: translateY(70px);
  background-image: url("../img/img_class_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
header .img::after {
  content: "";
  display: block;
  height: 100%;
  border: 30px solid #faf7f7;
  opacity: 0.3;
  box-sizing: border-box;
}
header .img > .title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30%;
  font-family: "華康中特圓體";
  font-size: 3rem;
  color: #faf7f7;
}

.page-top {
  position: relative;
  margin-top: 100px;
  height: 400px;
  text-align: center;
  background: #f0e7e1;
}
.page-top > .title {
  text-align: center;
  line-height: 5.5rem;
  font-family: "華康中特圓體";
  font-size: 2.5rem;
  color: rgba(150, 89, 28, 0.8);
}
.page-top::before {
  position: absolute;
  content: "";
  display: block;
  top: 2.75rem;
  height: 1px;
  width: 35%;
  background: rgba(150, 89, 28, 0.6);
  left: 5%;
}
.page-top::after {
  position: absolute;
  content: "";
  display: block;
  top: 2.75rem;
  height: 1px;
  width: 35%;
  background: rgba(150, 89, 28, 0.6);
  right: 5%;
}

.page-center {
  position: relative;
  height: 400px;
  text-align: center;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.5);
}
.page-center > .title {
  text-align: center;
  line-height: 5.5rem;
  font-family: "華康中特圓體";
  font-size: 2.5rem;
  color: rgba(150, 89, 28, 0.8);
}
.page-center > .title::before {
  position: absolute;
  content: "";
  display: block;
  top: 2.75rem;
  height: 1px;
  width: 35%;
  background: rgba(150, 89, 28, 0.6);
  left: 5%;
}
.page-center > .title::after {
  position: absolute;
  content: "";
  display: block;
  top: 2.75rem;
  height: 1px;
  width: 35%;
  background: rgba(150, 89, 28, 0.6);
  right: 5%;
}

.page-bottom {
  position: relative;
  text-align: center;
  height: 50px;
  background: #f0e7e1;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.card {
  display: inline-flex;
  height: calc(100% - 5.5rem);
  width: 90%;
  align-items: flex-end;
  overflow: hidden;
}
.card .card-left,
.card .card-center,
.card .card-right {
  flex-grow: 1;
  transform: translateY(60px);
  width: 33.3%;
  margin: 0 5%;
  background: #faf7f7;
  box-sizing: border-box;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: 0.5s;
}
.card .card-left:hover,
.card .card-center:hover,
.card .card-right:hover {
  transform: translateY(0px);
}
.card .card-left img,
.card .card-center img,
.card .card-right img {
  width: 100%;
  min-width: 300px;
  transform: translateY(-10px);
}
.card .card-left .name,
.card .card-center .name,
.card .card-right .name {
  margin: 10px 0;
  font-size: 2rem;
  color: rgba(150, 89, 28, 0.6);
}
.card .card-left .date,
.card .card-center .date,
.card .card-right .date {
  margin: 10px 0;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  color: rgba(150, 89, 28, 0.8);
}
.card .card-left .time,
.card .card-center .time,
.card .card-right .time {
  margin: 10px 0;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  color: rgba(150, 89, 28, 0.8);
}

.chang_page {
  height: 50px;
  width: 40px;
  border: 0px;
  background-color: transparent;
  background-image: url("../img/icon/icon_top.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.footer {
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1200px) {
  .card .card-left,
.card .card-center,
.card .card-right {
    margin: 0 2%;
  }
}
@media screen and (max-width: 768px) {
  header .img {
    height: 300px;
  }

  .page-top::before {
    width: 25%;
  }
  .page-top::after {
    width: 25%;
  }

  .page-center > .title::before {
    width: 25%;
  }
  .page-center > .title::after {
    width: 25%;
  }

  .card .card-left,
.card .card-center,
.card .card-right {
    transform: translateY(0px);
  }
  .card .card-right {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .card .card-center {
    display: none;
  }
}

/*# sourceMappingURL=class.css.map */
