/*初始化*/
h1,
h2,
h3,
h4,
h5,
p,
span,
body {

    margin: 0px;
    padding: 0px;
    
    font-family: "華康中圓體";
    color: #6a6a6a;
}
.body {
    
    
}
a {

    text-decoration: none;
}

ul,
li {

    display: inline;
}

header,
main {

    /*    position: absolute;*/
    left: 0px;
    right: 0px;
}

p {

    font-family: "華康中圓體";
    color: #6a6a6a;
}

/*body*/
body {

    font-size: 0px;
}

/*body end*/
/*header*/
header {

    height: 550px;
}

.header-bg {

    position: fixed;

    height: 550px;
    width: 100%;
    
    background-image: url(../img/slider_img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.about {

    position: absolute;
    text-align: center;

    height: auto;
    width: auto;
    
    padding: 0px 10px;

    left: 5%;
    top: 10%;

    text-shadow: 0px 1px 2px rgba(106, 106, 106, 0.9);
    
    background: rgb(256,256,256,0.4);
    
    border-radius: 5px;
}

.about p {

    line-height: 36px;
    letter-spacing: 0.2em;
    font-size: 18px;
}

.about p span {

    display: block;

    padding: 20px 0;

    font-size: 24px;
}

.about button {

    position: relative;

    height: 50px;
    width: 50px;

    border: 0px;

    background: transparent;
    background-image: url(../img/icon/icon_btm_btn.png);
    background-repeat: no-repeat;
    background-position: center;
}

.navbar {

    position: absolute;
    top: 550px;

    width: 100%;
    height: 70px;

    text-align: center;

    background: #e0e0e0;

    z-index: 10;
}

.sticky {

    position: fixed;

    top: 0px;

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.ul-box {

    display: inline-block;

    list-style: none;

    height: 70px;

    padding: 0px;
    margin: 0px;
}

.titleBar-box {

    display: inline-block;
    vertical-align: top;

    height: 70px;

    text-align: center;
}

.titleBar-box a {
    /*    text-decoration: none;*/

    width: 125px;

    font-family: "華康中特圓體";
    font-size: 24px;

    color: #747171;

    opacity: 0.7;
}

.titleBar-box a:hover {
    color: black;
}

.logo {

    height: 50px;
    width: 250px;

    padding: 10px 20px;
}

.dropdown {

    display: inline-block;

    line-height: 70px;
    width: 100%;

    font-size: 18px;
    text-align: center;
    font-family: "Microsoft JhengHei";

    color: gray;
}

.titleBar-box .dropdown-content {
    display: none;
    list-style: none;

    padding: 0px;

    height: auto;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0) !important;

    z-index: 1;
}

.titleBar-box .logo-box {

    font-size: 0px;
    opacity: 1;
}

.dropdown-content-v1 {
    background-color: whitesmoke;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0), 0 2px 10px 0 rgba(0, 0, 0, 0) !important;

    z-index: 1;
}

.titleBar-box:hover .dropdown-content {
    display: inline;
}

.dropdown-content .content {
    display: block;

    line-height: 35px;

    font-size: 18px;
    text-align: center;
}

.dropdown-content .content:hover {
    background-color: rgb(0, 0, 0, 0.1);
}

@keyframes title-dur {

    from {

        background-color: rgb(0, 0, 0, 0.1);
    }

    to {

        background-color: whitesmoke;
    }
}

@media screen and (min-width: 640px) {
    .btn-640 {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .titleBar {
        position: absolute;
        display: none;

        height: auto;

        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;

        top: 56px;
        right: 0px;

        width: 150px;
    }

    .titleBar-toggle {
        position: absolute;
        display: block;

        height: auto;

        background-color: whitesmoke;

        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;

        top: 55px;
        right: 0px;

        width: 150px;
    }

    .titleBar-box {
        width: 150px;
    }

    .titleBar a {
        display: block;
        text-decoration: none;

        color: gray;
        font-family: "Microsoft JhengHei";
        font-size: 20px;
        text-align: left;

        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .btn-640 {
        position: absolute;
        display: block;

        padding: 0px;

        background-color: rgb(0, 0, 0, 0.2);

        top: 12px;
        right: 3%;

        width: 35px;
        height: 30px;

        border: 2px solid rgb(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    .btn-640 .btn-icon {

        font-size: 20px;
    }

    .dropdown {
        padding: 0px;
    }

    .dropdown-content {
        display: block;
    }

    .titleBar-box .dropdown-content {
        display: none;
        position: inherit;
    }

    .titleBar-box .dropdown-in {
        display: block;
        position: inherit;
    }

    .dropdown:active .dropdown-content {
        display: block;
    }
}

/*header end*/
/*aside*/
aside {

    position: fixed;

    right: 20px;
    bottom: 20px;

    height: auto;

    z-index: 10;
}

.aside-btn-car {

    position: absolute;

    right: 0px;
    bottom: 175px;

    height: 50px;
    width: 50px;

    border: 0px;
    border-radius: 50%;

    background: white;
    background-image: url(../img/icon/icon_car.png);
    background-repeat: no-repeat;
    background-position: center;

    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
}

.aside-btn-login {

    position: absolute;

    right: 0px;
    bottom: 110px;

    height: 50px;
    width: 50px;

    border: 0px;
    border-radius: 50%;

    background: white;
    background-image: url(../img/icon/icon_login.png);
    background-repeat: no-repeat;
    background-position: center;

    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
}

.aside-top-btn {

    display: none;
    position: absolute;

    right: 0px;
    bottom: 20px;

    height: 50px;
    width: 50px;

    border: 0px;
    border-radius: 50%;

    background: white;
    background-image: url(../img/icon/icon_top_btn.png);
    background-repeat: no-repeat;
    background-position: center;

    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
}

.show {

    display: block;
}

/*aside end*/
/*main*/
main {

    position: relative;

    padding-top: 70px;
    bottom: 0px;

    height: auto;

    background: #faf7f7;
    z-index: 0;
}

p.title {

    margin-top: 50px;
    margin-bottom: 25px;

    text-align: center;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.2em;
}

.item-box-1 {

    height: 450px;
    width: 100%;
}

.item-box-1 a {

    display: inline-block;
    vertical-align: top;

    width: 33.33%;
    height: 100%;

    text-align: center;

    box-sizing: border-box;

    background: #ffffff;
}

.item-box-1 a.gray {

    display: inline-block;
    vertical-align: top;

    width: 33.33%;
    height: 100%;

    text-align: center;

    box-sizing: border-box;

    background: #fafafa;
}

.item-box-1 img {

    padding: 20px 0;

    height: 50%;

    border-radius: 2px;

    opacity: 0.9;
}

.item-box-1 a h2 {

    text-align: center;

    padding: 20px 0 10px 0;

    font-size: 24px;
    font-weight: 100;
    letter-spacing: 0.1em;
}

.item-box-1 a p {

    text-align: center;

    padding: 10px 0;

    font-size: 16px;
    font-weight: 100;
    letter-spacing: 0.15em;
}

.item-box-1 a span {

    display: block;
    text-align: center;

    padding: 20px 0;

    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0.15em;
}

.item-box-2 {

    text-align: center;
    position: relative;

    height: 500px;
    width: 100%;
}

.item-page {

    position: relative;
    display: inline-block;

    height: 500px;
    width: 90%;

    border-radius: 2px;

    background: rgba(224, 224, 224, 0.3);
}

.btn-right {

    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);

    height: 50px;
    width: 50px;

    border: 0px;
    border-radius: 2px;
    background: #6a6a6a;

    opacity: 0.3;
}

.btn-left {

    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);

    height: 50px;
    width: 50px;

    border: 0px;
    border-radius: 2px;
    background: #6a6a6a;

    opacity: 0.3;
}

.btn {

    position: absolute;

    transform: translate(-50%, -50%);
}

.item-area {

    position: absolute;

    height: 90%;
    width: 40%;

    top: 50%;
    left: 2%;

    transform: translateY(-50%);

    background: #fafafa;

    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.item-area img {

    padding-top: 40px;
}

.item-area h3 {

    padding: 20px 0;

    font-size: 18px;
    font-weight: 100;
    letter-spacing: 0.1em;
}

.item-area span {

    display: block;
    text-align: center;

    padding: 20px 0;

    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0.15em;
}

.text-area {

    position: absolute;

    height: 90%;
    width: 50%;

    top: 50%;
    right: 2%;

    transform: translateY(-50%);
}

.text-area img {

    position: absolute;

    height: 100%;

    right: 0px;
    bottom: 0px;

    opacity: 0.2;
    z-index: -1;
}

.text-area h2 {

    text-align: left;
    padding: 20px 0 20px 0;

    font-size: 24px;
    font-weight: 100;
    letter-spacing: 0.1em;
}

.text-area p {

    text-align: left;

    font-size: 18px;
    font-weight: 100;
    line-height: 36px;
    letter-spacing: 0.1em;
}

.text-area .btn-1 {

    position: absolute;

    height: 50px;
    width: 175px;

    left: 0px;
    bottom: 60px;

    box-sizing: border-box;
    border: 2px solid rgba(106, 106, 106, 0.3);
    border-radius: 2px;

    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 50px;
    color: #6a6a6a;
}

.text-area .btn-2 {

    position: absolute;

    height: 50px;
    width: 175px;

    left: 0px;
    bottom: 0px;

    background: rgba(106, 106, 106, 0.3);
    border-radius: 2px;

    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 50px;
    color: #6a6a6a;
}

.item-box-3 {

    text-align: center;

    height: 500px;
    width: 100%;
}

.item-box-3 a {

    display: inline-block;
    vertical-align: top;

    margin: 0px 20px;

    width: 270px;
    height: 450px;

    box-sizing: border-box;

    border-radius: 2px;

    background: rgba(235, 235, 235, 0.7);

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.item-box-3 a img {

    margin: 20px 0;

    height: 200px;
    width: 200px;

    border-radius: 50%;

    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.item-box-3 .text-title {

    padding: 10px 0 20px 0;
    margin: 0px;

    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.item-box-3 .text {

    display: inline-block;
    width: 88%;

    box-sizing: border-box;
    border-radius: 2px;

    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 30px;
    color: #6a6a6a;
}

/*main end*/
/*footer*/

footer {

    position: relative;
    bottom: 0px;

    height: 100px;
    width: 100%;

    background: rgba(224, 224, 224, 1);
}

.footer {

    position: absolute;
    text-align: center;

    height: 30px;
    width: 100%;

    margin: 10px 0;
}

.footer a {

    margin: 0px 10px;
}

.footer img {

    display: inline-block;
    position: relative;
    vertical-align: top;

    margin: 0px 5px;

    top: 50%;
    transform: translateY(-30%);
}

.footer p {

    display: inline-block;
    position: relative;
    vertical-align: top;

    line-height: 40px;

    height: 50px;
    width: 130px;

    background-image: url(../img/icon/icon_msg.png);
    background-repeat: no-repeat;
    background-position: center;

    font-size: 18px;
}

#fb::after {

    content: "";
    position: absolute;

    height: 50px;
    width: 50px;

    left: 10px;
    top: 50%;
    transform: translateY(-30%);

    background-image: url(../img/icon/icon_ser.png);
    background-repeat: no-repeat;
}

.copy-text {

    position: relative;
    display: block;

    text-align: center;

    top: 70px;

    line-height: 30px;

    font-size: 14px;
}

/*footer end*/
