@import "../css/main.css";

/*header*/
header {

    height: 550px;
    width: 100%;
}

.header-background {

    position: fixed;

    height: 550px;
    width: 100%;

    background-image: url(../img/slider_img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 0;
}

.header-background::before {

    position: absolute;
    content: " ";

    height: 100%;
    width: 100%;

    background: black;

    opacity: 0.2;
}

.header-text {

    display: inline-block;
    position: relative;

    top: 50%;
    transform: translateY(-50%);

    left: 15%;

    opacity: 0.9;
}

.header-text::after {

    content: "";
    position: absolute;

    top: 10px;
    left: -25%;

    height: 0px;
    width: 1px;

    background: white;

    animation-name: heightLine-150;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.header-text > p {

    font-size: 3rem;

    color: rgba(256, 256, 256, 1);

    line-height: 60px;
    letter-spacing: 0.5rem;
}

/*header end*/
/*main*/
main {

    position: relative;

    padding-top: 70px;
    bottom: 0px;

    height: auto;

    background: rgb(250, 247, 247);
    z-index: 0;
}

.slider-box {

    height: 350px;

    padding: 50px 0px;

    background: rgb(250, 247, 247);
}

.slider-box .box {

    position: absolute;

    top: 120px;
    left: 10%;

    height: 350px;
    width: 350px;

    text-align: center;

    border-radius: 5px;

    background: rgba(150, 89, 28, 0.8);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.75);


}

.slider-box .box > .title {

    margin-top: 50px;
    margin-bottom: 25px;

    color: rgb(250, 247, 247);
    font-size: 2.5rem;
    font-weight: normal;

    letter-spacing: 1rem;
}

.slider-box .box > .text {

    padding: 25px 15%;

    color: rgb(250, 247, 247);
    font-size: 1.75rem;
    font-weight: normal;

    line-height: 3rem;
    letter-spacing: 0.25rem;
}

.slider-box .item-list {

    position: relative;
    display: block;

    top: 50%;
    transform: translateY(-50%);

    height: 250px;
    width: 100%;

    overflow: hidden;
    white-space: nowrap;
}

.slider-box .item-list > .item {

    position: relative;
    display: inline-block;

    margin-right: 2px;

    height: 250px;
    width: 250px;
}

.btn-more {

    display: block;

    height: 50px;
    line-height: 50px;
    width: 150px;

    color: rgb(250, 247, 247);
    text-align: center;
    font-size: 1.75rem;

    background: rgba(150, 89, 28, 0.5);
    border: 1px solid rgba(250, 247, 247, 0.75);

    letter-spacing: 0.5rem;

    transition: 0.5s;
}

.slider-box .box .btn-more {

    position: absolute;
    display: block;

    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);

    color: rgb(250, 247, 247);
    text-align: center;
    font-size: 1.75rem;

    background: transparent;
    border: 1px solid rgba(250, 247, 247, 0.75);

    letter-spacing: 0.5rem;
}

.btn-more:hover,
.slider-box .box .btn-more:hover,
.news-box .btn-more:hover,
.shop-box .btn-more:hover,
.class-box .btn-more:hover,
.about-box .btn-more:hover {

    color: rgb(150, 89, 28);

    background: rgba(250, 247, 247, 0.75);

    border: 1px solid rgb(150, 89, 28);
}

.news-box .title-news::before {

    content: "";
    display: block;
    position: relative;

    height: 1px;
    width: 90%;

    top: 4.5rem;
    left: -40%;

    background: rgba(150, 89, 28, 0.1);
}

.news-box .title-news::after {

    content: "";
    display: block;
    position: relative;

    height: 1px;
    width: 20%;

    bottom: 4.5rem;
    left: 113%;

    background: rgba(150, 89, 28, 0.1);
}

.news-box .title-news {

    text-align: right;

    padding: 0px 20%;

    color: rgba(150, 89, 28, 0.1);
    font-weight: bold;
    font-size: 8rem;

    background: rgb(250, 247, 247);
}

.news-box {

    display: block;
    position: relative;

    /*    height: 630px;*/
    width: 100%;

    left: 0px;
    top: 0px;

    background: rgb(250, 247, 247);
}

.news-box > .box-bg {

    display: block;
    position: relative;

    left: 0px;
    top: 50px;

    height: 500px;
    width: 100%;

    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);

    box-sizing: content-box;

    overflow: hidden;
}

.news-box > .box-bg::before {

    content: "";
    position: absolute;
    display: block;

    top: 0px;
    left: 0px;

    height: 100%;
    width: 100%;

    background: black;

    opacity: 0.2;

    z-index: 1;
}

.news-box .box-bg > .bg {

    position: absolute;

    height: 160%;
    width: 100%;

    top: 0px;
    left: 0px;

    background: url("../img/slider_img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 0;
}

.news-box .title {

    position: relative;

    padding: 10px 15%;

    text-align: right;

    font-size: 2.5rem;
    color: rgba(150, 89, 28, 1);
}

.news-box .item-list {

    display: block;
    position: absolute;

    top: 100px;
    left: 0px;

    height: 100%;
    width: 100%;

    text-align: center;

    white-space: nowrap;
    overflow: hidden;
}

.news-box .item-list .card-1 {

    position: relative;
    display: inline-block;

    margin: 0px 2.5%;

    top: 10px;

    height: 375px;
    width: 300px;

    background: rgba(150, 89, 28, 0.75);

    transition: 0.5s;
}

.news-box .item-list .card-2 {

    position: relative;
    display: inline-block;

    margin: 0px 2.5%;

    top: 70px;

    height: 375px;
    width: 300px;

    background: rgba(150, 89, 28, 0.75);

    transition: 0.5s;
}

.news-box .item-list .card-3 {

    position: relative;
    display: inline-block;

    margin: 0px 2.5%;

    top: 130px;

    height: 375px;
    width: 300px;

    background: rgba(150, 89, 28, 0.75);

    transition: 0.5s;
}

.news-box .item-list .card-1:hover,
.news-box .item-list .card-2:hover,
.news-box .item-list .card-3:hover {

    transform: translateY(-20px);
}

.news-box .item-list .card-1 .img-box,
.news-box .item-list .card-2 .img-box,
.news-box .item-list .card-3 .img-box {

    display: block;

    height: 225px;

    overflow: hidden;
}

.news-box .item-list .card-1 .img-box img,
.news-box .item-list .card-2 .img-box img,
.news-box .item-list .card-3 .img-box img {

    display: block;

    height: 225px;
}

.news-box .item-list .card-1 .title,
.news-box .item-list .card-2 .title,
.news-box .item-list .card-3 .title {

    position: relative;

    top: 0px;
    left: 0px;

    line-height: 75px;

    font-family: "華康中特圓體";
    font-size: 1.5rem;

    color: rgb(250, 247, 247);
}

.news-box .item-list .card-1 .title::before,
.news-box .item-list .card-2 .title::before,
.news-box .item-list .card-3 .title::before {

    content: "";
    position: absolute;

    height: 1px;
    width: 25px;

    top: 37px;
    left: -12.5px;

    background: rgb(250, 247, 247);
}

.news-box .item-list .card-1 .title > span,
.news-box .item-list .card-2 .title > span,
.news-box .item-list .card-3 .title > span {

    display: inline-block;

    height: 35px;
    line-height: 35px;
    width: 75px;

    border: 1px solid rgb(250, 247, 247);
    border-radius: 5px;

    text-align: center;

    font-family: "華康中特圓體";

    color: rgb(250, 247, 247);

    letter-spacing: 0.25rem;
}

.news-box .item-list .card-1 h3,
.news-box .item-list .card-2 h3,
.news-box .item-list .card-3 h3 {

    font-size: 1.75rem;

    font-family: "華康中特圓體";
    font-weight: normal;

    color: rgb(250, 247, 247);
}

.news-box .btn-more {

    position: relative;
    display: block;

    left: 50%;
    transform: translateX(-50%);

    bottom: 25px;

    width: 150px;

    font-size: 1.5rem;

    border: 0px;

    background: rgb(150, 89, 28, 0.75);

    letter-spacing: 0.25rem;

    z-index: 3;
}

.title-store {

    position: absolute;

    top: -48px;
    left: 50%;
    transform: translateX(-50%);

    font-size: 8rem;
    font-weight: bold;

    color: rgba(150, 89, 28, 0.1);

    z-index: 2;
}

.shop-box {

    display: block;
    position: relative;

    height: 590px;
    width: 100%;

    margin: 50px 0 0 0;

    left: 0px;
    top: 0px;

    background: rgba(150, 89, 28, 0.1);

    z-index: 1;
}

.shop-box::before {

    content: "";
    display: block;
    position: absolute;

    height: 90px;
    width: 65%;

    margin: 50px 0 0 0;

    top: -50px;
    right: 0px;

    background: rgb(250, 247, 247);

    z-index: 1;
}

.shop-box::after {

    content: "";
    display: block;
    position: absolute;

    height: 90px;
    width: 65%;

    margin: 50px 0 0 0;

    bottom: 0px;
    left: 0px;

    background: rgb(250, 247, 247);

    z-index: 1;
}

.shop-box > .box-title {

    position: absolute;

    top: 15px;
    right: 0px;

    padding: 0 10% 0 0;

    width: 55%;

    text-align: right;
    font-size: 5rem;
    font-weight: bold;

    color: rgba(150, 89, 28, 0.1);

    z-index: 2;
}

.shop-box > .box-title::before {

    content: "";
    position: absolute;

    top: 50%;
    left: -25px;

    height: 1px;
    width: 15%;

    background: rgba(150, 89, 28, 0.3);

    z-index: 2;
}

.shop-box > .box-title::after {

    content: "";
    position: absolute;

    top: 50%;
    right: 10%;

    height: 150px;
    width: 1px;

    text-align: right;
    font-size: 5rem;

    background: rgba(150, 89, 28, 0.3);

    z-index: 2;
}

.shop-box .title-box {

    display: inline-block;
    position: relative;
    vertical-align: top;

    height: calc(100% - 90px);
    width: 35%;

    text-align: center;

    z-index: 2;
}

.title-box .title {

    padding: 75px 0 37.5px 0;

    font-size: 2.5rem;

    color: rgb(150, 89, 28);
}

.title-box .text {

    font-size: 1.5rem;
    letter-spacing: 0.25rem;

    color: rgb(150, 89, 28);
}

.title-box img {

    margin-top: 30px;
    width: 90%;
    max-width: 400px;
}

.shop-box .btn-more {

    position: absolute;

    bottom: 70px;
    left: 15%;
    transform: translateX(-50%);

    margin: 0;

    width: 150px;

    font-size: 1.5rem;
    letter-spacing: 0.25rem;

    background: rgba(150, 89, 28, 0.8);

    z-index: 2;
}

.shop-box .box-item {

    display: inline-block;
    position: relative;

    height: 100%;
    width: calc(65% - 13px);

    text-align: center;

    overflow: hidden;
    /*    white-space: nowrap;*/

    z-index: 2;
}

.shop-box .box-item::after {

    content: "";
    position: absolute;

    height: 1px;
    width: 10%;

    bottom: 45px;
    left: 45%;
    transform: translateX(-50%);

    background: rgba(150, 89, 28, 0.3);
}

.shop-box .box-item > .item {

    position: relative;
    display: inline-block;
    vertical-align: top;

    padding: 0 5%;

    width: 30%;
}

.shop-box .box-item > .item > a {

    display: block;

    transition: 0.5s;
}

.shop-box .box-item > .item > a:hover {

    transform: translateY(-10px);
}

.shop-box .box-item > .card-1 {

    top: 30px;
}

.shop-box .box-item > .card-2 {

    top: 80px;
}

.shop-box .box-item > .item > a > h2 {

    margin: 20px 0;

    font-size: 2rem;
    font-weight: normal;

    color: rgb(150, 89, 28);
}

.shop-box .box-item > .item > a > p {

    margin: 20px 0;
    padding: 0 1%;

    text-align: left;

    font-size: 1.5rem;
    line-height: 3rem;
    letter-spacing: 0.25rem;
    font-weight: normal;

    color: rgb(150, 89, 28);
}

.class-box-bg {

    position: relative;

    height: 700px;
    width: 100%;
}

.class-box {

    position: relative;
    margin: 0 0 0 10%;

    background: white;

    height: 500px;
    width: 90%;
}

.title-class {

    position: relative;
    padding: 50px 15% 30px 15%;

    font-size: 8rem;
    font-weight: bold;

    color: rgba(150, 89, 28, 0.1);
}

.title-class::before {

    content: "";
    position: absolute;

    top: 50%;
    right: 0px;

    height: 1px;
    width: 50%;

    background: rgba(150, 89, 28, 0.1);
}

.title-class::after {

    content: "";
    position: absolute;

    top: 50%;
    left: -12.5%;

    height: 1px;
    width: 15%;

    background: rgba(150, 89, 28, 0.1);
}

.class-box .box-title {

    display: inline-block;
    position: relative;
    vertical-align: top;

    margin: 0 0 0 16%;

    height: calc(100% - 80px - 8rem);
    width: 25%;

    text-align: center;

    z-index: 2;
}

.class-box .box-title .title {

    text-align: left;
    font-size: 2.5rem;

    color: rgb(150, 89, 28);
}

.class-box .box-title .text {

    margin: 30px 0;

    text-align: left;
    line-height: 3rem;
    font-size: 1.5rem;
    letter-spacing: 0.25rem;

    color: rgb(150, 89, 28);
}

.class-box .btn-more {

    position: absolute;

    bottom: -25px;
    left: 20%;

    margin: 0;

    width: 150px;

    font-size: 1.5rem;
    letter-spacing: 0.25rem;

    background: rgba(150, 89, 28, 0.8);

    z-index: 2;
}

.class-box .box-item {

    display: inline-block;

    height: calc(100% - 80px - 8rem);
    width: 58%;

    text-align: center;
}

.class-box .box-item img {

    width: 90%;
    max-width: 500px;
}

.about-box-bg {

    position: relative;

    height: 700px;
    width: 100%;
}

.about-box {

    position: relative;
    display: flex;
    background: rgb(150, 89, 28, 0.1);

    height: 500px;
    width: 90%;
}

/*
.title-about::before {

    content: "";
    position: absolute;

    top: -100px;
    left: 5%;

    height: 150px;
    width: 1px;

    background: rgba(150, 89, 28, 0.3);
}

.title-about::after {

    content: "";
    position: absolute;

    top: 50%;
    right: -50px;

    height: 1px;
    width: 150px;

    background: rgba(150, 89, 28, 0.3);
}
*/

/*
.about-box .title {

    position: absolute;

    top: 78px;
    left: 40%;

    font-size: 2.5rem;

    color: rgb(150, 89, 28);
}
*/

.about-box .box-item,
.about-box .box-title,
.about-box .img {

    width: 33.33%;
}


.about-box .box-item {

    text-align: center;
}

.title-about {

    position: relative;
    padding: 50px 10% 50px 10%;

    font-size: 8rem;
    font-weight: bold;

    color: rgb(250, 247, 247);
}

.about-box .box-title {}

.about-box .box-title .title {

    text-align: left;
    padding: 55px 0 30px 0;

    width: 100%;

    font-size: 2.5rem;

    color: rgb(150, 89, 28);
}

.about-box .img {

    position: relative;
    display: flex;
    align-items: flex-end;
}

.about-box .box-item img {

    width: 90%;
}

.about-box .img img {

    width: 100%;
    transform: translate(20%, 20%);
}

.about-box .box-title .text {

    display: block;

    width: 90%;

    text-align: left;
    line-height: 3rem;
    font-size: 1.5rem;
    letter-spacing: 0.25rem;

    color: rgb(150, 89, 28);
}

.about-box .btn-more {

    position: absolute;

    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);

    margin: 0;

    width: 150px;

    font-size: 1.5rem;
    letter-spacing: 0.1rem;

    background: rgba(150, 89, 28, 0.8);

    z-index: 2;
}

/*main end*/
/*moblie*/
@media screen and (max-width : 1200px) {

    .news-box .item-list .card-1 {

        position: relative;
        display: inline-block;

        margin: 0px 2.5%;

        top: 10px;

        height: 375px;
        width: 275px;

        background: rgba(150, 89, 28, 0.75);
    }

    .news-box .item-list .card-2 {

        position: relative;
        display: inline-block;

        margin: 0px 2.5%;

        top: 60px;

        height: 375px;
        width: 275px;

        background: rgba(150, 89, 28, 0.75);
    }

    .news-box .item-list .card-3 {

        position: relative;
        display: inline-block;

        margin: 0px 2.5%;

        top: 140px;

        height: 375px;
        width: 275px;

        background: rgba(150, 89, 28, 0.75);
    }

    .shop-box .box-item > .item > a > img {

        width: 175px;
    }

    .class-box-bg {

        height: 600px;
    }

    .about-box-bg {

        height: 600px;
    }

    .about-box .box-title img {

        top: 0px;
    }

    .about-box {

        height: 450px;
    }

    .title-about {

        padding: 50px 15% 30px 5%;
    }
}

@media screen and (max-width : 1000px) {

    .news-box .item-list .card-3 {

        display: none;
    }
}

@media screen and (max-width : 768px) {

    main > p::before {

        width: 70%;
    }

    .slider-box {

        display: block;
        position: relative;

        top: 0px;

        height: 400px;
    }

    .slider-box .item-list {

        top: 0px;
        transform: translateY(0);

        margin: 20px 0 0 0;

        height: auto;

        z-index: 2;
    }

    .slider-box .item-list > .item {

        height: 200px;
        width: auto;
    }

    .slider-box .box {

        position: absolute;

        top: 0px;
        left: 0px;


        height: 400px;
        width: 100%;

        border-radius: 0px;

        background: rgba(150, 89, 28, 0.2);

        box-shadow: 0 0 0;

        z-index: 0;
    }

    .slider-box .box > .title {

        margin: 20px 0 0 0;

        color: rgba(150, 89, 28, 0.7);

        font-family: "華康中特圓體";
    }

    .slider-box .box > .text {

        position: absolute;

        bottom: 60px;
        left: 50%;
        transform: translateX(-50%);

        width: 80%;

        padding: 0;

        font-family: "華康中特圓體";

        color: rgba(150, 89, 28, 0.7);
    }

    .slider-box .box .btn-more {

        position: absolute;
        display: block;

        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);

        height: 40px;
        line-height: 40px;
        width: 125px;

        color: rgb(250, 247, 247);
        text-align: center;
        font-size: 1.75rem;

        background: rgba(150, 89, 28, 0.75);
        border: 1px solid rgba(250, 247, 247, 0.75);

        letter-spacing: 0.5rem;
    }

    .title-news,
    .title-shop,
    .title-class,
    .title-about {

        font-size: 4rem;
        letter-spacing: 0.5rem;

    }

    .news-box .title-news {

        position: relative;

        padding: 0;

        text-align: center;

        font-size: 4rem;
    }

    .news-box .title-news::before {

        content: "";
        display: block;
        position: absolute;

        height: 1px;
        width: 20%;

        top: 50%;
        transform: translateY(-50%);
        left: 0;

        background: rgba(150, 89, 28, 0.1);
    }

    .news-box .title-news::after {

        content: "";
        display: block;
        position: absolute;

        height: 1px;
        width: 20%;

        top: 50%;
        transform: translateY(-50%);
        right: 0;
        left: inherit;

        background: rgba(150, 89, 28, 0.1);
    }

    .news-box {

        height: 525px;
    }

    .news-box .title {

        position: relative;

        text-align: center;

        left: inherit;

        font-family: "華康中特圓體";

        color: rgba(150, 89, 28, 0.75);
    }

    .news-box > .box-bg {

        top: 75px;

        height: 350px;

        clip-path: inset(0 0 0 0);
    }

    .news-box .box-bg > .bg {

        height: 100%;
    }

    .news-box .item-list {

        position: absolute;

        top: -50px;
        bottom: 0px;

        z-index: 2;
    }

    .news-box .item-list .card-1 {

        top: 150px;
        margin: 0 auto;
    }

    .news-box .item-list .card-2 {

        display: none;
    }

    .news-box .btn-more {

        position: absolute;

        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);

        z-index: 3;
    }

    .shop-box::before {

        height: 50px;
        width: 50%;
    }

    .shop-box::after {

        height: 50px;
        width: 100%;
    }

    .title-store {

        top: 0px;
        left: 50%;
        transform: translateX(-50%);

        font-size: 4rem;
        letter-spacing: 0.25rem;
    }

    .shop-box > .box-title {

        top: 0px;

        padding: 0;

        height: 50px;
        line-height: 50px;
        width: 50%;

        text-align: center;

        font-size: 4rem;
    }

    .shop-box > .box-title::before {

        content: none;
    }

    .shop-box > .box-title::after {

        content: none;
    }

    .shop-box .title-box {

        height: calc(100% - 50px);
        width: 49%;
    }

    .shop-box .box-item {

        width: 49%;
    }

    .shop-box .box-item > .card-1 {

        top: 75px;

        width: 50%;
    }

    .shop-box .box-item > .card-2 {

        display: none;
    }

    .shop-box .box-item > .item > a > h2 {

        margin: 10px 0;
    }

    .shop-box .box-item > .item > a > p {

        margin: 10px 0;
    }

    .shop-box .box-item::after {

        content: none;
    }

    .shop-box .btn-more {

        position: absolute;

        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);

        margin: 0;

        width: 150px;

        font-size: 1.5rem;
        letter-spacing: 0.25rem;

        background: rgba(150, 89, 28, 0.8);

        z-index: 2;
    }

    .title-class::before {

        top: 60%;
        width: 20%;
    }

    .title-class::after {

        top: 60%;
        width: 20%;
        left: -10%;
    }

    .class-box {

        height: 300px;

        text-align: center;
    }

    .title-class {

        padding: 15px 10% 10px 0;

        text-align: center;
    }

    .about-box .box-title {

        width: 33.3%;
    }

    .footer .group {

        height: 35px;
        line-height: 35px;
        width: 100px;
    }

    .footer .group .icon {

        height: 20px;
        width: 20px;

        left: 5px;
    }

    .title-box .text {

        padding: 0 10%;

        line-height: 3rem;
    }

    .item {

        width: 150px;
    }

    .shop-box {

        height: 500px;
    }

    .shop-box .box-item > .item > a > img {

        width: 100%;
    }

    .class-box-bg {

        height: 400px;
    }

    .class-box .box-title {

        width: 45%;
        margin: 0;
    }

    .class-box .box-title .title {

        text-align: center;
    }

    .class-box .box-title .text {

        margin: 0;
        padding: 20px 0 0 10px;
    }

    .class-box .box-item {

        width: 50%;
    }

    .class-box .btn-more {

        bottom: -25px;
        left: 45%;
        transform: translateX(-50%);
    }

    .title-about::before {

        top: -50px;
        height: 75px
    }

    .title-about::after {

        top: 50%;
        transform: translateY(-50%);
        right: -5%;

        width: 50px;
    }

    .about-box {

        height: auto;

        flex-direction: column;
    }

    .about-box .title {

        left: 55%;

        top: 32px;

        letter-spacing: 0.25rem;
    }

    .about-box-bg {

        height: auto;
        
        padding: 0 0 50px 0;
    }

    .about-box .box-item {

        width: 100%;
    }

    .title-about {

        padding: 10px 0 10px 0;
    }

    .about-box .box-item img {


        width: 75%;
    }

    .about-box .box-title {

        width: 50%;
    }

    .about-box .box-title {

        width: 100%;
    }

    .about-box .box-title .title {

        padding: 18px 0 18px 0;

        text-align: center;
    }

    .about-box .box-title .text {

        display: block;
        
        margin: 0px auto;
        padding: 10px 0 30px 0;
        
        width: 90%;
    }

    .about-box .img {

        display: none;
    }

    .about-box .box-title .text {

        width: 90%;
    }

    .about-box .btn-more {

        bottom: -20px;
        left: 55%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width : 575px) {

    .header-text::after {

        left: -10%;
    }

    .shop-box .box-item > .card-1 {

        top: 75px;

        width: 70%;
    }

    .about-box .box-title img {

        display: none;
    }
}

/*moblie end*/

/*animation*/
@keyframes heightLine-150 {

    from {

        height: 0px;
    }

    to {

        height: 150px;
    }
}

@keyframes widthLine-150 {

    from {

        width: 0px;
    }

    to {

        width: 150px;
    }
}

/*animation end*/
