/*reset*/
@font-face{
    
    font-family: "華康中特圓體";
    src : url("../font/font_1.TTC");
}

@font-face{
    
    font-family: "華康中圓體";
    src : url("../font/font_2.TTC");
}

h1,
h2,
h3,
h4,
h5,
p,
span,
pre,
body {

    margin: 0px;
    padding: 0px;

    font-family: "華康中圓體";
    color: #6e6e6e;

    font-weight: normal;
}

.body {

    background: rgba(250, 247, 247, 1);
}

a {

    text-decoration: none;
}

ul,
li {

    display: inline;
    list-style: none;
}

header,
main {

    left: 0px;
    right: 0px;
}

html {

    font-size: 12px;
    letter-spacing: 6px;
}

/*reset end*/
/*html*/

.news .li-box:nth-child(2) .dropdown,
.newShop .li-box:nth-child(3) .dropdown,
.shop .li-box:nth-child(3) .dropdown,
.class .li-box:nth-child(4) .dropdown,
.about .li-box:nth-child(5) .dropdown {


    color: rgb(150, 89, 28);
    opacity: 1;
}

.news .li-box:nth-child(2)::after,
.newShop .li-box:nth-child(3)::after,
.shop .li-box:nth-child(3)::after,
.class .li-box:nth-child(4)::after,
.about .li-box:nth-child(5)::after {


    content: "";
    position: absolute;

    left: 0px;
    bottom: 0px;

    height: 2px;
    width: 100%;

    background: rgb(150, 89, 28);
}

/*html end*/
/*body*/
body {

    font-size: 0px;
}

.body {

    min-width: 1182px;

    background: rgb(250, 247, 247);
}

/*body end*/
/*header*/
.navbar-btn {

    display: none;
}

.navbar {

    position: fixed;
    top: 00px;

    width: 100%;
    min-width: 1182px;

    background: rgb(250, 247, 247);

    z-index: 4;
}

.ul-box {

    position: relative;
    display: inline-block;

    padding: 0px;
    margin: 0px;

    left: 2.5%;

    letter-spacing: normal;
}

.li-box {

    position: relative;
    display: inline-block;
    vertical-align: top;
}

.li-box:nth-child(2) {

    margin-left: 100px;
}

.li-box:hover .dropdown::after {

    content: "";
    position: absolute;

    left: 0px;
    bottom: 0px;

    height: 2px;
    width: 0%;

    background: rgb(150, 89, 28);

    animation-name: titleInline;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.li-box a {

    line-height: 70px;
    width: 125px;

    font-family: "華康中特圓體";
    font-size: 2rem;
    letter-spacing: 0.25rem;

    color: #747171;

    opacity: 0.7;
}

.li-box a:hover {

    color: rgb(150, 89, 28);
}

.li-box .logo-box {

    line-height: 0px;
    width: auto;

    font-size: 0px;
    opacity: 1;
}

.logo {

    height: 50px;
    width: 250px;

    padding: 10px 20px;
}

.dropdown {

    display: inline-block;

    width: 100%;

    font-size: 1.5rem;
    text-align: center;

    color: gray;
}

.li-box .dropdown-content {
    position: absolute;
    display: none;
    list-style: none;

    top: 70px;
    left: 0px;

    padding: 0px;

    height: auto;


    background: rgb(250, 247, 247);

    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);

    z-index: 1;
}

.li-box:hover .dropdown-content {
    display: inline;
}

.dropdown-content .content {
    display: block;

    line-height: 40px;

    text-align: center;
    font-size: 1.5rem;

    letter-spacing: 0.1rem;
}

.dropdown-content .content:hover {

    background-color: rgba(150, 89, 28, 0.5);
}

.mobile-ul {

    display: none;
}

.menu-box {

    display: none;
}

.close-menu {

    display: none;
}

/*header end*/
/*aside*/
aside {

    position: fixed;

    right: 20px;
    bottom: 20px;

    height: auto;

    z-index: 4;
}

.aside-btn-car {

    position: absolute;

    right: 0px;
    bottom: 175px;

    height: 50px;
    width: 50px;

    border: 0px;
    border-radius: 50%;

    background: white;
    background-image: url(../img/icon/icon_car.png);
    background-repeat: no-repeat;
    background-position: center;

    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
}

.aside-btn-login {

    position: absolute;

    right: 0px;
    bottom: 110px;

    height: 50px;
    width: 50px;

    border: 0px;
    border-radius: 50%;

    background: white;
    background-image: url(../img/icon/icon_login.png);
    background-repeat: no-repeat;
    background-position: center;

    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
}

.aside-top-btn {

    display: none;
    position: absolute;

    right: 0px;
    bottom: 20px;

    height: 50px;
    width: 50px;

    border: 1px solid rgba(150, 89, 28, 1);
    border-radius: 50%;

    background: transparent;
    background-image: url(../img/icon/icon-goTop.png);
    background-repeat: no-repeat;
    background-position: center;

    transition: 0.5s;
}

.aside-top-btn:hover {


    transform: translateY(-10px);
}

.show {

    display: block;
}

/*aside end*/
/*footer*/
.footer {

    position: relative;

    height: 150px;
    width: 100%;

    text-align: left;

    background: rgb(240, 231, 225);

    z-index: 2;
}

.footer .group-box {

    position: relative;
    display: inline-block;

    top: 50%;
    transform: translateY(-50%);

    left: 5%;
    
    z-index: 2;
}

.footer .group {

    position: relative;
    display: inline-block;

    height: 40px;
    line-height: 40px;
    width: 150px;

    border: 1px solid rgba(150, 89, 28, 0.5);
    border-radius: 3px;
    box-sizing: border-box;

    text-align: center;

    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: bold;

    color: rgba(150, 89, 28, 0.5);

    transition: 0.5s;
}

.footer .group span {

    text-align: center;

    color: rgba(150, 89, 28, 0.5);

    transition: 0.5s;
}

.footer .group:hover {

    border: 1px solid rgba(150, 89, 28, 1);
}

.footer .group-box .group span:hover {

    color: rgba(150, 89, 28, 1);
}

.footer .group .icon {

    display: block;
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    left: 10px;

    height: 25px;
    width: 25px;

    opacity: 0.5;

    transition: 0.5s;
}

.footer .group:hover .icon {

    opacity: 1;
}

.footer p {

    display: inline-block;
    position: relative;

    top: 50%;
    transform: translateY(-50%);
    left: 5%;

    line-height: 40px;

    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.25rem;

    color: rgba(150, 89, 28, 0.5);
}

/*footer end*/
@media screen and (max-width : 1200px) {

    html {

        font-size: 10px;
    }

    .body {

        width: 100%;
        min-width: 750px;
    }

    .about button {

        height: 40px;
        width: 40px;
    }

    .navbar {

        width: 100%;
        min-width: 750px;
    }

    .ul-box {

        position: relative;
        display: inline-block;

        list-style: none;

        padding: 0px;
        margin: 0px;
    }

    .li-box a {

        width: 100px;
    }

    .logo {

        height: 40px;
        width: 200px;

        padding: 15px 20px;
    }
}

@media screen and (max-width : 768px) {

    html {

        font-size: 9px;
    }

    .body {

        width: 100%;
        min-width: 0px;
        max-width: 750px;
    }

    aside {

        z-index: 3;
    }

/*
    .about {

        left: 50%;
        transform: translate(-50%, -50%);
    }
*/

    .aside-btn-car,
    .aside-btn-login {

        display: none;
    }

    .navbar {

        text-align: inherit;

        width: 100%;
        min-width: 0px;
        max-width: 750px;
    }

    .dropdown {

        display: none;
    }

    .ul-box {

        width: 100%;
        left: 0;
    }

    .li-box {

        left: 0;
        transform: translateX(0);
    }

    .dropdown.logo-box {

        display: inline-block;
    }

    .menu-box {

        display: inline-block;
        position: absolute;

        right: 0px;
    }

    .menu-btn {

        display: inline-block;

        height: 50px;
        width: 50px;

        margin: 10px;

        border-radius: 10px;

        background-image: url(../img/icon/icon-menu.png);
        background-repeat: no-repeat;
        background-size: contain;

        opacity: 0.5;
    }

    .mobile-ul {

        display: block;
        position: fixed;

        overflow: hidden;

        top: 0px;
        right: 0px;

        height: 100%;
        width: 0%;

        padding: 0px;

        background: rgba(256, 256, 256, 0.9);

        text-align: center;

        transition: 0.3s;
        z-index: 1;

        white-space: nowrap;
    }

    .mobile-li {

        display: block;

        width: 50%;
        margin: 0 auto;

        font-size: 2rem;
    }

    .mobile-dropdown {

        display: block;
        color: #6a6a6a;

        width: 100%;

        line-height: 50px;
    }

    .mobile-dropdown::before {

        content: "";
        display: block;
        position: absolute;

        left: 25%;

        height: 1px;
        width: 50%;

        background: #6a6a6a;

        opacity: 0.3;
    }

    .mobile-dropdown-content {

        display: block;
        overflow: hidden;

        padding: 0px;
    }

    .mobile-dropdown-content .content {

        display: block;

        font-size: 1.75rem;
        color: #6a6a6a;

        line-height: 40px;
        letter-spacing: 0.25rem;
    }

    .close-menu {

        position: absolute;
        display: block;

        right: 0px;

        height: 50px;
        width: 50px;

        margin: 10px;

        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.5);

        background: transparent;
    }

    .close-menu::after {

        content: "X";
        display: block;
        position: relative;

        font-size: 20px;

        color: rgba(0, 0, 0, 0.5);
    }

    footer {

        position: relative;

        z-index: 1;
    }

    .footer {

        height: 100px;
    }

    .footer .group {

        height: 35px;
        line-height: 35px;
        width: 100px;
    }

    .footer .group .icon {

        height: 20px;
        width: 20px;

        left: 5px;
    }

    .footer .group-box {

        display: inline-flex;
        
        top: 0;
        transform: translateY(0);
        left: 50%;
        transform: translateX(-50%);

        padding: 20px 0;

        text-align: center;
    }

    .footer .group-box .group {

        margin: 0 1px;
    }

    .footer .group-box .group img {

        display: inline-block;
    }

    .footer .group-box .group span {

        display: inline-block;
        position: absolute;

        left: 30px;

        color: rgba(150, 89, 28, 0.5);
    }

    .footer p {

        display: block;
        position: static;

        text-align: center;
    }
}

@keyframes titleInline {

    from {

        width: 0%;
    }

    to {

        width: 100%;
    }
}
