@import "../css/main.css";

.header {

    position: relative;

    margin-top: 70px;

    width: 100%;
}

.header > .img {

    padding-bottom: 25%;

    width: 100%;

    background-image: url("../img/slider_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header > .title {

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;

    right: 0px;
    bottom: -50px;

    height: 150px;
    width: 300px;

    background: rgba(192, 155, 119);

    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    
    transition: .5s;
}

.header > .title > .en-text,
.header > .title > .text {

    margin-left: 25%;
    font-size: 2.5rem;
}

.header > .title > .en-text {

    color: rgba(250, 247, 247, 0.25);
}

.header > .title > .text {

    color: rgb(250, 247, 247);
}

/*main*/
.box {

    margin-top: 50px;

    padding: 0px 10%;
}

.box > .type > .btn {

    padding: 0px;

    height: 50px;
    width: 150px;

    line-height: 50px;

    font-family: "華康中圓體";
    font-size: 2rem;

    color: rgba(150, 89, 28, 0.3);

    border-radius: 2px;
    border: 1px solid rgba(150, 89, 28, 0.3);
    background: transparent;
    
    transition: 0.5s;
    cursor: pointer;
}

.box > .type > .btn:hover {

    color: rgba(150, 89, 28, 0.6);
    
    border: 1px solid rgba(150, 89, 28, 0.6);
}

.box > .type > .btn.-on {

    color: rgba(150, 89, 28, 0.8);
    
    border: 1px solid rgba(150, 89, 28, 0.8);

}

.content .list {

    display: block;
    margin: 75px 0;
    padding: 0px;

    letter-spacing: 0px;
}

.content .list .new::before {

    content: "";
    display: block;

    height: 1px;

    background: rgba(150, 89, 28, 0.5);
}

.content .list .new a {

    position: relative;
    display: block;
}

.content .list .new:nth-child(odd) a::before,
.content .list .new:nth-child(even) a::before {

    content: "";
    display: block;
    position: absolute;

    height: 75px;
    width: 10px;

    z-index: -1;
    transition: 1s;
}

.content .list .new:nth-child(odd) a:hover::before,
.content .list .new:nth-child(even) a:hover::before {

    width: 100%;
}

.content .list .new:nth-child(odd) a::before {

    background: rgba(150, 89, 28, 0.8);
}

.content .list .new:nth-child(even) a::before {

    background: rgba(211, 137, 64, 0.8);
}

.content .list .new a span,
.content .list .new a p {

    display: inline-block;

    line-height: 75px;

    font-size: 2rem;
    letter-spacing: 0.25rem;

    color: rgba(150, 89, 28, 0.8);

    transition: 1s;
}

.content .list .new a:hover span,
.content .list .new a:hover p {

    color: rgba(250, 247, 247, 0.8);
}

.content .list .new a span {

    text-align: center;

    width: 30%;

    box-sizing: border-box;
}

.content .list .new a p {

    width: 70%;

    font-family: "華康中特圓體";
}

.box .change {

    margin: 50px 0;

    text-align: center;
}

.box .change button {

    padding: 0px;

    height: 50px;
    width: 50px;

    font-size: 2rem;

    color: rgba(150, 89, 28, 0.4);

    border: 1px solid rgba(150, 89, 28, 0.4);
    border-radius: 2px;
    background: transparent;

    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;
}

.box .change button:hover {

    color: rgba(150, 89, 28, 0.8);

    border: 1px solid rgba(150, 89, 28, 0.8);
}

.box .change button.-on {

    color: rgba(250, 247, 247, 0.8);

    border: 0px;
    background: rgba(150, 89, 28, 0.6);
}
/*main end*/

@media screen and (max-width: 1200px){
    
    .header > .title {
        
        height: 125px;
        width: 250px;
    }
}

@media screen and (max-width: 768px){
    
    .header > .img {
        
        padding-bottom: 50%;
    }
    
    .header > .title {
        
        right: 50%;
        bottom: 50%;
        transform: translate(50%, 50%);
        
        height: 100px;
        width: 200px;
    }
    
    .header > .title > .en-text, 
    .header > .title > .text {
        
        margin-left: 10%;
    }
    
    .box > .type > .btn {
        
        height: 50px;
        width: 100px;
    }
    
    .content .list {
        
        margin: 50px 0;
    }
    
    .content .list .new a span, 
    .content .list .new a p {
        
        display: block;
        
        margin-left: 10%;
        
        line-height: 50px;
        width: 100%;
    }
    
    .content .list .new a span{
        
        text-align: left;
    }
    
    .content .list .new:nth-child(odd) a::before, 
    .content .list .new:nth-child(even) a::before {
        
        height: 100px;
    }
    
    .box .change button {
        
        height: 40px;
        width: 40px;
    }
}
