@import "./main.css";

body {

    background: rgb(250, 247, 247);
}

.hot-item-box {

    margin: 140px 0 70px 0;

    height: 500px;
}

.hot-item-box .title,
.hot-item {

    margin-left: 10%;

    width: 90%;

    background: rgba(150, 89, 28, 0.2);
}

.hot-item {

    padding-left: 5%;

    height: calc(100% - 5rem);

    box-sizing: border-box;
}

.hot-item-box .title {

    padding-left: 5%;

    line-height: 5rem;
    font-size: 2.5rem;

    color: rgb(150, 89, 28);

    box-sizing: border-box;
}

.hot-item-box .title::before {

    content: "";
    display: block;

    height: 5px;
    width: 50px;

    background: rgb(150, 89, 28);
}

.slick-slide {

    margin: 0 10px 0 10px;
}

.slick-slide img {

    width: 50%;
    max-height: 255px;
}

.hot-item .name {

    margin: 2rem 0;

    font-family: "華康中特圓體";
    font-size: 2rem;

    color: rgb(150, 89, 28);
}

.hot-item .text {

    line-height: 3rem;

    font-family: "華康中特圓體";
    font-size: 1.5rem;

    color: rgb(150, 89, 28);
}

.slick-prev,
.slick-next {

    height: 40px;
    width: 40px;
}

.slick-prev::before,
.slick-next::before {

    content: none;
}

.slick-prev {

    top: calc(50% - 2.5rem);
    left: -5%;

    background-image: url("../img/icon/icon_prev.png");
    background-repeat: no-repeat;
    background-position: center;
}

.slick-prev:hover {

    background-image: url("../img/icon/icon_prev.png");
    background-repeat: no-repeat;
    background-position: center;
}

.slick-next {

    top: calc(50% - 2.5rem);
    right: 0px;

    background-image: url("../img/icon/icon_next.png");
    background-repeat: no-repeat;
    background-position: center;
}

.slick-next:hover {

    background-image: url("../img/icon/icon_next.png");
    background-repeat: no-repeat;
    background-position: center;
}

.item-index {

    display: inline-flex;

    margin-bottom: 70px;

    height: 500px;
    width: 85%;

    background: white;
}

.item-index .img {

    margin: 5%;

    display: flex;
    flex-grow: 1;
}

.item-index .img img {

    margin: auto;

    width: 80%;
}

.item-index .text {

    flex-grow: 3;
}

.item-index .type {

    flex-grow: 2;

    transform: translateX(50%);
}

.item-index .text .title {

    margin: 3rem 0;

    font-size: 2.5rem;
}

.item-index .text .information {

    line-height: 3rem;
    font-size: 1.5rem;

    letter-spacing: normal;
}

.item-index .type p {

    margin: 50px 0 0 0;

    text-align: center;

    line-height: 3rem;
    font-size: 2rem;

    color: rgb(150, 89, 28);
}

.item-index .type p::after {

    content: "";
    display: block;

    margin: 0 auto;

    height: 1px;
    width: 80%;

    background: rgba(150, 89, 28, 0.5);
}

.item-index .type button {

    position: relative;
    display: block;

    margin: 50px auto;
    padding: 0px;

    height: 125px;
    width: 60%;

    font-size: 0;

    border: 0px;

    background-image: url("../img/item_bg_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.item-index .type button::before {

    content: "";
    display: block;

    height: 100%;
    width: 100%;

    font-size: 2rem;

    color: aliceblue;

    background: rgb(150, 89, 28);

    opacity: 0.75;
}

.item-index .type button::after {

    position: absolute;
    content: "";

    top: 5%;
    left: 5%;

    height: 90%;
    width: 90%;

    border: 1px solid rgb(250, 247, 247);

    box-sizing: border-box;
}

.item-index .type button span {

    position: absolute;

    width: 100%;

    top: 50%;
    transform: translateY(-50%);
    left: 0px;

    font-size: 2rem;

    color: rgb(250, 247, 247);
}

@media screen and (max-width : 1200px) {

    .hot-item-box {
        
        height: auto;
    }
    
    .item-index {

        height: auto;
    }

    .item-index .text {

        flex-grow: 2;
    }

    .item-index .type {

        flex-grow: 4;

        transform: translateX(50%);
    }

    .item-index .type button {

        margin: 50px auto;
        padding: 0px;

        height: 100px;
        width: 70%;
    }
}

@media screen and (max-width : 768px) {

    .item-index {

        display: block;
        flex-direction: column;
    }

    .item-index .img img {

        width: 40%;
    }

    .item-index .text {

        display: block;
        vertical-align: top;

        padding: 0 0 0 30%;
        
        box-sizing: border-box;
    }

    .item-index .type {

        display: block;

        transform: translate(0);
    }

    .item-index .type p {

        margin: 20px 0 0 0;
    }

    .item-index .type button {

        margin: 10px auto;
        
        height: 75px;
        width: 50%;
    }
}
